body {
    margin: 0 15%;
}

* {
    font-family: Helvetica, serif;
}

.header {
    background: white;
    display: flex;
}


.logo {
    padding: 14px;
    text-align: left;
    font-size: 4rem;
    display: flex;
}

.header div {
    margin-top: 1rem;
    font-size: 1rem;
}

.menu {
    padding: 1%;
    margin-left: 35%;
}

.menu a {
    color: darkcyan;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem;
}

#products {
    padding: 5% 0 5% 0;
    background: #1abc9c;
    display: flex;
}

.headline {
    color: white;
    vertical-align: top;
}

.description {
    color: white;
}

button {
    outline: none;
    font-weight: bold;
    background: #1abc9c;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 8px;
    cursor: pointer;

}

#aboutUs {
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.aboutUs1, .aboutUs2, .aboutUs3 {
    text-align: center;
}

#aboutUs h3 {
    color: #2d3436;
}

.fas, .fab {
    color: white;
    margin-top: 3rem;
    border-radius: 50%;
    background: #1abc9c;
    width: 5rem;
    height: 4rem;
    font-size: 3rem;
    text-align: center;
    padding-top: 1rem;
}

#contactUs {
    padding: 5% 0 5% 0;
    background: #1abc9c;
    text-align: center;
}

#contactUs h2 {
    color: #2d3436;
}

.inputs {
    margin-left: 25%;
    align-items: center;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.check {
    margin-top: 1rem;
    text-align: center;
    border: 5px solid red;
}

input {
    font-size: 1rem;
    margin-top: 1rem;
    outline: none;
    background: white;
    border: none;
}

#select-box {
    border: none;
}

#submit, #reset {
    border: 1px solid black;
}

.content {
    color: #16a085;
}

.products-data {
    margin-left: 15%;
    width: 40%;
}

#question {
    margin-top: 1rem;
    height: 5rem;
}

.text-input {
    font-size: 1rem;
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    padding: 0;
}

#sendEmail {
    width: 45%;
    margin-top: 5rem;
    margin-bottom: 10rem;
    font-size: 1.5rem;
}

label {
    margin-top: 0.5rem;
}

input {
    padding: 5px;
    width: 50%;
}

#check__box {
    width: auto;
}

.image {
    margin-left: 20%;
}

.radio {
    width: 5%;
}

#back-to-top {
    display: none;
    width: 3rem;
    height: 3rem;
    text-align: center;
    border-radius: 1rem;
    background: rgba(0,0,0,0.2);
    position: fixed;
    top: 30px;
    left: 30px;
    color: #38ada9;
    content: url("images/59043.png");
}

#back-to-top:hover {
    cursor: pointer;
    background: #4ae8e4;
}